{% extends '../base.html' %}
{% load static %}

{% block body %}


<main>
<div class="container mt-4">
  <div class="row justify-content-center align-item-center container">
    <div class="col-lg-8 col-sm-12 align-self-center ms-lg-4">
      <h1 class=""><span style="color: rgb(232, 133, 12);">Bangladesh</span> <br> <span>Olympiadians</span>
        <br><span style="color: rgba(21, 42, 134, 0.837);">Club</span>
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est cupiditate voluptates officiis, numquam iste
        doloribus sequi animi labore quisquam id corporis! Voluptates, aliquam hic ut eaque consequuntur distinctio
        veritatis quo quia? Ut quae fugiat ipsam quod accusantium nemo obcaecati modi laudantium accusamus officia
        deleniti totam, iusto facere quam perferendis rerum odio eum delectus! Pariatur suscipit, libero,
        consectetur
        et aut blanditiis quaerat quod nulla optio animi omnis error in eius nisi harum porro. Natus nemo eligendi
        excepturi obcaecati ullam quod fuga? Possimus rem, quia illum non incidunt aliquid laudantium exercitationem
        voluptatibus laborum, hic dolore suscipit! Explicabo distinctio officia nesciunt sunt illum.</p>
    </div>
    <div class="w-sm-50 col-lg-3 col-sm-12 align-self-center ms-lg-auto">
      <img src="{% static 'images/logo.png' %}" width="400" height="400">
    </div>
  </div>
</div>


</main>

{% endblock body %}
