{% extends '../base.html' %}
{% load static %}
{% load socialaccount %}

{% block body %}

<div class="container-fluid my-2" style="text-align: center;">
    <img src="{% static 'images/logo.png' %}" class="rounded-circle img-thumbnail" width="60px" height="60px" alt="">
</div>

<div class="container  justify-content-center align-items-center ">
    <form  method="POST" class="col-lg-5 col-xl-5 col-sm-10 col-md-10 col-xs-11 login-form container rounded mt-3 p-0 border border-primary shadow" width="600px">{% csrf_token %}
        <div class="container bg-primary p-0 m-0 rounded">
            <div class="row p-1 m-0 text-white" style="text-align: center;">
                <h3>Login to BOC</h3> 
            </div>
        </div>
        <div class="container p-5">
             <div href="" class="continer-fluid auths justify-content-center align-items-center">
            <a href="{% provider_login_url 'google' %}" class="row provider justify-content-center align-items-center">
                <div class="col justify-content-center align-items-center bg-light p-2 rounded" style="text-align: center;">
                    <img src="{% static 'images/google.png' %}" height="30px" width="30px" alt=""> Login With Google
                </div>
            </a>
        </div>
        <div class="row my-2" style="text-align: center;"><div class="col-12">Or</div></div>
        
            {% include "../messages.html" %}
            <div class="form-group my-2">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
            </div>
            <div class="form-group my-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary my-2">Login</button><br>
            <a href="{% url 'au:register' %}">Don't have an account? Register!</a> <br>
            <a href="#" >Forgot password?</a> 
        </div>
    </form>
</div>

{% endblock body %}

